*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body{
    background: url(images/Untitled\ design.png);
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

ul, li, a, h2, h3{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12%;
}

.logo p{
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
}

.nav-links ul, li{
    display: flex;
    gap: 3em;
    font-size: 20px;
}

.nav-links li,a:hover{
    color: #bd0101;
}

.container-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.headlines{
    display: flex;
    position: absolute;
    left: 25%;
    top: 15%;
    background-color: #f50f3dbc;
    backdrop-filter: blur(7px);
}

.headlines h2{
    font-style: italic;
    padding: 15px 30px;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;

    margin: 10%;
    gap: 20px;
}

.item{
    border: #bd0101 solid 1px;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    
}

.item img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.25s ease-in;
}

.item img:hover{
    transform: scale(1.0159);
    opacity: 0.6109;
}

